/* Center */
.center {
    margin: auto;
    margin: auto;
    width: 50%;
}

/* a tag formatting */
a:link {
    color: #ff0000;
}
a:visited {
    color: #dd5500;
}
a:hover {
    color: #cc3333;
}
a:active {
    color: #ff0077;
}

/* Tag Resizing */
h1 {
    font-size: calc(1.75em + 1.75vw);
}
h2 {
    font-size: calc(1.25em + 1.25vw);
}
h3 {
    font-size: calc(.92em + .92vw);
}
h4 {
    font-size: calc(.87em + .87vw);
}
h5 {
    font-size: calc(.58em + .58vw);
}
h6 {
    font-size: calc(.5em + .5vw);
}

/* card formatting */
.card {
    background-color: #ffffff;
}

/* background */
body {
    background-color: #4444ff;
}